@model Jogador

@{
    ViewData["Title"] = "Jogador";
}


<link rel="stylesheet" href="~/css/jogadores.css">

    <!-- MAIN -->
        <!-- MAIN -->
    <main>
        <section class="container-grid cadastro-equipes">
        @if (ViewBag.UserName != null)
        {
            <form method="post" action="@Url.Action("Cadastrar")" class="frm-cad-equipe" enctype="multipart/form-data">
                <div class="cadequipe-titulo">
                    <h1>Cadastro de Jogadores</h1>
                    <hr>
                </div>

                <select class="campo-entrada" id="equipe-select" name="Equipe" required>
                    <option style="background-color: black;" value="">Digite o nome da sua equipe</option>
                    @foreach (Equipe equipe in ViewBag.Equipe)
                    {
                        <option style="background-color: black;" value="@equipe.IdEquipe">@equipe.Nome</option>
                    }
                </select>

                <input class="campo-entrada" name="JogadorNome" type="text" id="nome-jogador" placeholder="Digite o nome do Jogador:" required>
                <input class="campo-entrada" name="JogadorEmail" type="email" id="email-jogador" placeholder="Digite o Email do Jogador:" required>
                <input class="campo-entrada" name="JogadorSenha" type="password" id="senha" placeholder="Digite a Senha:" required>
                <button type="submit" asp-action="Cadastrar">Cadastrar</button>
            </form>
        }

            <!-- TABELA CADASTRO DE EQUIPES -->

            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Equipe</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var jogador in ViewBag.Jogador)
                    {
                        <tr>
                            <td>@jogador.IdJogador</td>
                            <td>@jogador.Nome</td>
                            <td>@jogador.Email</td>
                            <td>@jogador.Equipe.Nome</td>
                            <td>
                                <a asp-area="" asp-controller="jogador" asp-action="Editar"
                                asp-route-id="@jogador.IdJogador">Editar </a>
                                <a asp-area="" asp-controller="jogador" asp-action="Excluir"
                                asp-route-id="@jogador.IdJogador">
                                <img class="yellow-trash" src="~/assets/trash.png" alt=""> </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </main>


@if (ViewBag.UserName == null)
{
    <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
}
else
{











    @* <form method="post" action="@Url.Action("Cadastrar")">
        <label for="">Nome</label>
        <input type="text" name="Nome">

        <label for="">Email</label>
        <input type="email" name="Email">

        <label for="">Senha</label>
        <input type="password" name="Senha">

        <label for="">Equipe</label>
        <select name="IdEquipe" id="IdEquipe">
            <option value="0">Selecione uma equipe: </option>
            @foreach (Equipe equipe in ViewBag.Equipe)
            {
                <option value="@equipe.IdEquipe">@equipe.Nome</option>
            }
        </select>

        <button type="submit">Cadastrar</button>

    </form>


    <table class="table table-striped table-responsive">
        <thead>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Equipe</th>
        </thead>

        <tbody>
            @foreach (Jogador jogador in ViewBag.Jogador)
            {
                <tr>
                    <td>@jogador.IdJogador</td>
                    <td>@jogador.Nome</td>
                    <td>@jogador.Email</td>
                    <td>
                        <img src="/img/Equipes/@jogador.Equipe.Imagem" alt="Imagem da equipe @jogador.Equipe.Nome" width="50px">
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Jogador" asp-action="Excluir" asp-route-id="@jogador.IdJogador">Excluir</a>
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Jogador" asp-action="Editar" asp-route-id="@jogador.IdJogador">Editar</a>
                    </td>

                </tr>
            }
        </tbody>
    </table> *@
}