@model Equipe

@{
    ViewData["Title"] = "Edit";
}


<link rel="stylesheet" href="~/css/equipes.css">






@if (ViewBag.UserName == null)
{
    <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
}
else
{
    <main>
        <section class="container-grid cadastro-equipes">
    <form class="frm-cad-equipe" method='post' action='@Url.Action("Atualizar")' enctype="multipart/form-data">
                <div class="cadequipe-titulo">
                    <h1>Edição de Equipes</h1>
                    <hr>
                </div>

                <input type="hidden" name="IdEquipe" value="@ViewBag.Equipe.IdEquipe">
                <input class="campo-entrada" name="Nome" required type="text" placeholder="Digite o nome da sua equipe:">
                <label class="foto" for="foto-file">
                    Nenhuma imagem selecionada...
                    <input  type="file"name="Imagem" value="@ViewBag.Equipe.Imagem" id="foto-file" >
                </label>
                
                <button>Atualizar</button>
                
                
                
                <!-- <select class="equipeid" id="equipeid">
                    <option value="">Selecione uma Equipe</option>
                    <option value="x">Equipe X</option>
                    <option value="y">Equipe Y</option>
                </select> -->
            </form>
</section>
</main>


    @* <form method="post" action="@Url.Action("Atualizar")" enctype="multipart/form-data">

        <input type="hidden" name="IdEquipe" value="@ViewBag.Equipe.IdEquipe">

        <label for="">Nome</label>
        <input type="text" name="Nome" value="@ViewBag.Equipe.Nome" required>

        <label for="">Imagem</label>
        <input type="file" name="Imagem" value="@ViewBag.Equipe.Imagem">

        <button type="submit">Atualizar</button>

    </form> *@
}
