@model Jogador

@{
    ViewData["Title"] = "Jogador";
}
<h1>Tela de Jogadores</h1>

<form method="post" action="@Url.Action("Cadastrar")" enctype="multipart/form-data">

<label for="">Nome</label>
<input type="text" name="Nome">

<label for="">Email</label>
<input type="text" name="Email">

<label for="">Senha</label>
<input type="text" name="Senha">

<label for="">Times</label>
<select name="Equipes" id="Times">
    @foreach (var item in ViewBag.Equipe)
    {
    <option value="">@item.IdEquipe</option>
    }
    <input type="submit" name="buttonOk">

</select>

<button type="submit">Cadastrar</button>


</form>

@* <select name="" id="">
    @foreach (var item in ViewBag.Equipe)
    {
    <option value="">@item.Nome</option>
    } *@



</select>
<table class="table table-striped table-responsive">
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Senha</th>
        <th>IdEquipe</th>

    </thead>


    <tbody>

        @foreach (Jogador jogador in ViewBag.Jogador)
        {
            <tr>

                
                <td>@jogador.IdJogador</td>
                <td>@jogador.Nome</td>


                <td>@jogador.Email</td>
                <td>@jogador.Senha</td>
                <td>@jogador.IdEquipe</td>

            </tr>
        }
    </tbody>

</table>